@model TSD_DAL.Model.ClientModel
<form id="ParamForm">
    @Html.HiddenFor(model => model.ID)
    @{ 
                var rasList = new List<SelectListItem>(){};
        rasList.Add(new SelectListItem()
            {
                Text = "1 %",
                Value = "1"
            });
                rasList.Add(new SelectListItem()
            {
                Text = "1.5 %",
                Value = "1,5"
            });
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="mb-1" for="OwnerName">Nom client:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-landmark text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control", @placeholder = "Tapez le nom du client", @required = true })
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="mb-1" for="Adresse">Adresse:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control", @placeholder = "Tapez l'adresse du client", @required = true })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="mb-1" for="CodePostal">Code Postale:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.CodePostal, new { @class = "form-control", @placeholder = "", @required = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <span class="help-block m-b-none m-b small">Matricule fiscal - Clé - Catégorie - Num étab(Exemple : 1234567-S-M-000 )</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-code text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.MatriculeFiscal, new { @class = "form-control", @placeholder = "Matricule Fiscale ..." })
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-1" for="Tel1">Téléphone:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.Tel1, new { @class = "form-control", @required = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-1" for="Tel2">Mobile:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.Tel2, new { @class = "form-control", @required = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="mb-1" for="IBAN">IBAN:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-credit-card text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.IBAN, new { @class = "form-control", @placeholder = "", @required = true })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="mb-1" for="Tel2">RAS:</label>
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-percent text-gray-400"></i></span>
                        </div>
                        @Html.DropDownListFor(model => model.RASValue, rasList, new { @class = "form-control" })
                    </div>
                    </div>
                </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="IsActive">Actif</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.TFExo, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="TFExo">Exo TF</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(model => model.Exonere, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="Exonere">Exo TVA</label>
                </div>
            </div>

        </div>

        <br />
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" onclick="AddOrUpdateClient()"><i class="ace-icon fa fa-check"></i> Valider</button>
    <button type="button" class="btn btn-sm" id="AnnulerP" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Annuler</button>
</div>

<script>
    //$(document).ready(function () {
    //    $("#MatriculeFiscal").mask("999999*-a-a-999");
    //});
</script>