@model List<TSD_DAL.Model.ServicesModel>
   @{
       int codePricing = (int)ViewBag.codePricing;
       Model.ForEach(e => e.codePricing = codePricing);
   }
<form id="ParamForm">
    
    <div style="overflow-x:auto;max-height:600px">
        @{ 
            var taxeList = Gestion_Commerciale.Controllers.CommonController.GetAllTaxesList();
        }
        @for (int i = 0; i < Model.Count(); i++)
        {
            taxeList.Where(e => e.Value == Model[i].pourcentageTaxe.ToString()).FirstOrDefault().Selected = true;
            <div  style="margin:1%; width:98%;height:100%" class="form-control border-left-primary">
                <div style="display:inline-flex">
                    @Html.HiddenFor(Model => Model[i].codePricing)
                    @Html.HiddenFor(Model => Model[i].ID)
                    @Html.HiddenFor(Model => Model[i].Reference)
                    <div style="display:block;width:55%;margin-right:1%;">
                        @Html.LabelFor(Model => Model[i].Libelle)
                        @Html.TextBoxFor(Model => Model[i].Libelle, new { @class = "form-control border-left-info" })
                    </div>
                    <div style="display:block;width:29%;margin-right:1%">
                        @Html.Label("Taxe")
                        @Html.DropDownListFor(Model => Model[i].pourcentageTaxe, taxeList, new {  @class = "form-control border-left-info" })
                    </div>
                    <div style="display:block;width:27%;margin-right:1%;">
                        @Html.LabelFor(Model => Model[i].Qte)
                        @Html.TextBoxFor(Model => Model[i].Qte, new { @onkeypress = "return(event.charCode >=48 &&event.charCode  <= 57 ||event.charCode ==46 ||event.charCode ==0)",@onkeyup = "this.value = this.value.replace('.',',')", @class = "form-control border-left-info" })
                    </div>
                    <div style="display:block;width:27%;margin-right:1%">
                        @Html.Label("Montant")
                        @Html.TextBoxFor(Model => Model[i].Montant, new {   @onkeypress= "return(event.charCode >=48 &&event.charCode  <= 57 ||event.charCode ==46 ||event.charCode ==0)",@onkeyup = "this.value = this.value.replace('.',',')", @format = "0.00", @class = "form-control border-left-info pVente_" + i })
                    </div>
                </div>
            </div>
        }
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" onclick="LinkServicesToPricing()"><i class="ace-icon fa fa-check"></i> Valider</button>
    <button type="button" class="btn btn-sm" id="AnnulerP" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Annuler</button>
</div>
