@model TSD_DAL.Model.MaterialReglementDetailsModel

<div class="modal-body">
    <form id="ParamForm">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ReglementID)


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.Label("Nom du client")
                    <div class="input-group-addon">

                        @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control border-left-info" })
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <span class="input-group-addon"><i class="fa fa-money-bill"></i></span>
                    @Html.Label("Numéro facture")
                    <div class="input-group-addon">

                        @Html.TextBoxFor(model => model.VoucherNumber, new { @class = "form-control border-left-info" })
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="input-group-addon"><i class="fa fa-dollar-sign"></i></span>
                    @Html.Label("Montant")
                    <div class="input-group-addon">

                        @Html.TextBoxFor(model => model.Ammount, new { @onkeypress = "return(event.charCode >=48 &&event.charCode  <= 57 ||event.charCode ==46 ||event.charCode ==0)", @onkeyup = "this.value = this.value.replace('.',',')", @class = "form-control border-left-info" })
                    </div>
                </div>

            </div>


        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" onclick="AddOrUpdateMaterialReglement()"><i class="ace-icon fa fa-check"></i> Valider</button>
    <button type="button" class="btn btn-sm" id="AnnulerP" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Annuler</button>
</div>
