@model TSD_DAL.Model.TextValueModel
@{
    string DateFromByDefault = Model.Val1 != 0 ? DateTime.Now.ToString("yyyy-MM-dd") : "";
    string DateToByDefault = Model.Val1 != 0 ? DateTime.Now.AddDays(1).ToString("yyyy-MM-dd") : "";
}
    <div class="row" style="width:100%;margin-left:10px;">
        @Html.HiddenFor(model => model.Value)
        @if (Model.Value == "1")
        {
            if (Model.Text == "FFAC" || Model.Text == "FNOC" ||  Model.Text == "BCOM")
            {

                <div class="col-md-3">
                    @Html.Label("Fournisseur")
                    @Html.DropDownList("FournisseurFilter"
                       + Model.Text, Gestion_Commerciale.Controllers.AchatController.GetFournisseursList(),
                       new { @onchange = "RefreshFactureGrid('" + Model.Text + "');", @class = "form-control border-left-info", @style = "width:100%" })
                </div>
                @Html.Hidden("ClientFilter", 0)
            }
            else
            {
                <div class="col-md-3">
                    @Html.Label("Client")
                    @Html.DropDownList("ClientFilter"
                       + Model.Text, Gestion_Commerciale.Controllers.VenteController.GetClientsList(),
                       new { @onchange = "RefreshFactureGrid('" + Model.Text + "');", @class = "form-control border-left-info", @style = "width:100%" })
                </div>
                @Html.Hidden("FournisseurFilter", 0)
            }

        }
        <div class="col-md-3">
            @Html.Label("Code")
            @Html.TextBox("CodeFilter" + Model.Text, "", new { @onkeyup = "RefreshFactureGrid('" + Model.Text + "');", @class = "form-control border-left-info" })
        </div>

        @Html.Hidden("MontantMinFilter", "")
        @Html.Hidden("MontantMaxFilter", "")
        <div class="col-md-3">
            @Html.Label("Date depuis")
            @Html.TextBox("DateFromFilter" + Model.Text, DateFromByDefault, new { @onchange = "RefreshFactureGrid('" + Model.Text + "');", @Type = "date", @class = "form-control border-left-info" })
        </div>
        <div class="col-md-3">
            @Html.Label("Date jusqu'à")
            @Html.TextBox("DateToFilter" + Model.Text, DateToByDefault, new { @onchange = "RefreshFactureGrid('" + Model.Text + "');", @Type = "date", @class = "form-control border-left-info" })
        </div>
        @if (@Model.Value == "1")
        {
            <div class="col-md-3">
                @Html.Label("Status")
                @Html.DropDownList("StatusFilter" + Model.Text, Gestion_Commerciale.Controllers.CommonController.GetStatus(), new { @onchange = "RefreshFactureGrid('" + Model.Text + "');", @class = "form-control border-left-info", @style = "width:100% !important" })
            </div>
            <div class="col-md-3">
                @Html.Label("Etat")
                <select class="form-control" id="Etat" name="Etat" style="width:100% !important">
                    <option value="All">Tous</option>
                    <option value="Ouvert">Ouvert</option>
                </select>
            </div>
        }
        else
        {
            @Html.Hidden("StatusFilter", "VLD")
            @Html.Hidden("Etat", "Ouvert")
        }

        @if (Model.Value == "1")
        {
            <div class="col-md-1" style="display:block;width:5%;margin-top:32px;">
                <button onclick="OpenEditorToAddFacture('@Model.Text')" style="align-self:center;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                    <span class="icon text-white-30">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        }
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#ClientFilterCFAC").select2({
                placeholder: "Selectionner un client",
                allowClear: true,
                theme: "classic",
                width: 'resolve'
            });
        $("#ClientFilterFFAC").select2({
                placeholder: "Selectionner un client",
                allowClear: true,
                theme: "classic",
                width: 'resolve'
        });
        $("#ClientFilterFNOC").select2({
       placeholder: "Selectionner un client",
       allowClear: true,
       theme: "classic",
       width: 'resolve'
   });
        $("#ClientFilterBLIV").select2({
                placeholder: "Selectionner un client",
                allowClear: true,
                theme: "classic",
                width: 'resolve'
            });            
        $("#ClientFilterBCOM").select2({ 
                placeholder: "Selectionner un client",
                allowClear: true,
                theme: "classic",
                width: 'resolve'
        });          

        $("#FournisseurFilterCFAC").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#FournisseurFilterFFAC").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#FournisseurFilterFNOC").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#FournisseurFilterBLIV").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#FournisseurFilterBCOM").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });


        $("#StatusFilterCFAC").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#StatusFilterFFAC").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#StatusFilterFNOC").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#StatusFilterBLIV").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#StatusFilterBCOM").select2({
            placeholder: "Selectionner un client",
            allowClear: true,
            theme: "classic",
            width: 'resolve'
        });
        $("#Etat").select2({
            theme: "classic",
            width: 'resolve'
        });
        $('#Etat').change(function () {
            $('#PieceListGrid').DataTable().destroy();
            LoadPieceListData();
        });
    });
</script>