@model TSD_DAL.Model.ServicesModel
<form id="ParamForm">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Qte)
    <div class="container-fluid">
        <div class="row">
            @*<div class="col-md-6">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                @Html.Label("Référence")
                <div class="input-group text">
                    @Html.TextBoxFor(model => model.Reference, new { @class = "form-control border-left-info" })
                </div>
            </div>*@
            <div class="col-md-12">
                <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                @Html.Label("Libellé")
                <div class="input-group text">

                    @Html.TextBoxFor(model => model.Libelle, new { @class = "form-control border-left-info" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <span class="input-group-addon"><i class="fa fa-dollar-sign"></i></span>
                @Html.Label("Montant")
                <div class="input-group text">
                    @Html.TextBoxFor(model => model.Montant, new { @class = "form-control border-left-info" ,@onkeypress = "return(event.charCode >=48 &&event.charCode  <= 57 ||event.charCode ==46 ||event.charCode ==0)",@onkeyup = "this.value = this.value.replace('.',',')" ,@onkeyup = "this.value = this.value.replace('.',',')"})
                </div>
            </div>
            
            <div class="col-md-3 custom-control custom-checkbox" style="margin-top:8%">
                @Html.CheckBoxFor(model => model.Vente, new { @class = "custom-control-input" })
                <label for="Vente" class="custom-control-label">Vente </label>
            </div>
            <div class="col-md-3 custom-control custom-checkbox" style="margin-top:8%">
                @Html.CheckBoxFor(model => model.Achat, new { @class = "custom-control-input" })
                <label for="Achat" class="custom-control-label">Achat </label>
            </div>
            @*<div class="col-md-3">

            @Html.CheckBoxFor(model => model.Achat, new { @class = "form-control border-left-info" })
            <label for="Achat" class="custom-control-label">Achat</label>
        </div>*@


        </div>


        </div>
</form>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" onclick="AddOrUpdateService()"><i class="ace-icon fa fa-check"></i> Valider</button>
        <button type="button" class="btn btn-sm" id="AnnulerP" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Annuler</button>
    </div>
